apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../../base/storage/
- ../../../base/images/
- ../mainnet/cluster
- ../calibrationnet/cluster
- ../butterflynet/cluster

patches:
- patch: |
    apiVersion: image.toolkit.fluxcd.io/v1alpha1
    kind: ImagePolicy
    metadata:
      name: lotus-calibnet-latest-rc
    spec:
      policy:
        semver:
          # The -calibnet suffix is truncated at this point, so we can just specify the rc version
          range: '<=1.20.0-rc1'
  target:
    group: image.toolkit.fluxcd.io
    version: v1alpha1
    kind: ImagePolicy
    name: lotus-calibnet-latest-rc
