server {
    listen 80;
    server_name {{ inventory_hostname }};

    location /debug/metrics {

        proxy_pass http://localhost:1234/debug/metrics;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
