image:
  pullPolicy: Always
  tag: "1.1.1"

indexResolver:
  replicas: 3
  s3Resolver:
    bucket: "filecoin-snapshots-mainnet-production"
    endpoint: "https://eafecb340a3ce23027e1eba779ed4d91.r2.cloudflarestorage.com"
    secretName: r2-access
  additionalEnv:
  - name: "GOLOG_LOG_FMT"
    value: "json"

  loadBalancer:
    enabled: true
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-backend-protocol: http
      service.beta.kubernetes.io/aws-load-balancer-ssl-cert: arn:aws:acm:us-east-1:759815798766:certificate/5e9eb742-7d50-4ac9-b1e2-4fe4c1f5f5a1
      service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"
      external-dns.alpha.kubernetes.io/hostname: snapshots.mainnet.filops.net
      external-dns.alpha.kubernetes.io/alias: "true"
      external-dns.alpha.kubernetes.io/ttl: "60"

snapshots:
  nodes:
  - /dns/lotus-a-lotus-daemon/tcp/1234
  - /dns/lotus-b-lotus-daemon/tcp/1234
  - /dns/lotus-c-lotus-daemon/tcp/1234

  schedule: "0 */2 * * *"

  interval: "240"
  confidence: "30"

  activeDeadlineSeconds: 12600

  uploads:
    enabled: true
    bucket: "filecoin-snapshots-mainnet-production"
    endpoint: "https://eafecb340a3ce23027e1eba779ed4d91.r2.cloudflarestorage.com"
    secretName: r2-access

  jwtTokens:
    secretName: lotus-jwt

  additionalEnv:
  - name: "FCA_CREATE_RETRIEVAL_ENDPOINT_PREFIX"
    value: "https://pub-fd31751bcb69400eb39e694385c19457.r2.dev"
  - name: "GOLOG_LOG_FMT"
    value: "json"
  - name: "FCA_CREATE_PROGRESS_UPDATE"
    value: "60s"
  - name: "FCA_CREATE_NAME_PREFIX"
    value: "minimal/"

nodelocker:
  additionalEnv:
  - name: "GOLOG_LOG_FMT"
    value: "json"

# What day of the week will each reset run?
# Generally, each instance gets reset every
# three days. On months with 29 or 31 days,
# instance C or A, respectively, will have
# four days between resets
#
#     A    B    C
#     -----------
#     1    2    3
#     4    5    6
#     7    8    9
#     ...
#     25   26   27
#     28   29   30
#          31

podResets:
  - pod: lotus-a-lotus-0
    schedule: "0 0 1-30/3 * *"
  - pod: lotus-b-lotus-0
    schedule: "0 8 2/3,31 * *"
  - pod: lotus-c-lotus-0
    schedule: "0 16 3/3 * *"
