server {
    listen 80;

    server_name = {{ lotus_fountain_server_name }};

    location ^~ /.well-known {
        root /var/www/{{ lotus_fountain_server_name }};
    }

    location / {
        root /var/www/{{ lotus_fountain_server_name }}/;
        index index.html;
    }
}
