- name: lotus golog file
  file:
      state: touch
      path: "{{ lotus_fountain_golog_file }}"
      owner: "{{ lotus_user }}"
      group: "{{ lotus_user }}"
      mode: "0644"

- name: lotus systemd service file
  template:
      src: ../templates/lotus-fountain.service.j2
      dest: /etc/systemd/system/lotus-fountain.service
      owner: root
      group: root
      mode: "0644"
  notify:
      - reload-fountain
  when: lotus_fountain_address is defined

- name: lotus binary
  copy:
      src: "{{ lotus_fountain_binary_src }}"
      dest: /usr/local/bin/lotus-fountain
      owner: root
      group: root
      mode: "0755"
  when: lotus_fountain_binary_src is defined
  notify:
      - restart-fountain

- name: lotus service started
  systemd:
    name: "lotus-fountain"
    enabled: yes
    state: started

- name: Certbot
  include_tasks: cert.yml
  when: lotus_fountain_enable_https is defined
