############################# Filebeat #####################################

filebeat.inputs:
{% if 'chainwatch' in group_names %}
- encoding: utf-8
  type: log
  fields:
    logzio_codec: plain
    token: "{{ logz_io_shared_token }}"
    type: lotus-chainwatch
  paths:
    - "{{ chainwatch_golog_file }}"
  fields_under_root: true
  json.keys_under_root: true
  json.message_key: msg
  ignore_older: 3h
{% endif %}
{% if 'pcr' in group_names %}
- encoding: utf-8
  type: log
  fields:
    logzio_codec: plain
    token: "{{ logz_io_shared_token }}"
    type: lotus-pcr
  paths:
    - "{{ lotus_pcr_golog_file }}"
  fields_under_root: true
  json.keys_under_root: true
  json.message_key: msg
  ignore_older: 3h
{% endif %}
{% if 'lotus_daemon' in group_names %}
- encoding: utf-8
  type: log
  fields:
    logzio_codec: plain
    token: "{{ logz_io_shared_token }}"
    type: lotus-daemon
  paths:
    - "{{ lotus_golog_file }}"
  fields_under_root: true
  json.keys_under_root: true
  json.message_key: msg
  ignore_older: 3h
{% endif %}
{% if 'lotus_miner' in group_names %}
- encoding: utf-8
  type: log
  fields:
    logzio_codec: plain
    token: "{{ logz_io_shared_token }}"
    type: lotus-miner
  paths:
    - "{{ lotus_miner_golog_file }}"
  fields_under_root: true
  json.keys_under_root: true
  json.message_key: msg
  ignore_older: 3h
{% endif %}
{% if 'lotus_fountain' in group_names %}
- encoding: utf-8
  type: log
  fields:
    logzio_codec: plain
    token: "{{ logz_io_shared_token }}"
    type: lotus-fountain
  paths:
    - "{{ lotus_fountain_golog_file }}"
  fields_under_root: true
  json.keys_under_root: true
  json.message_key: msg
  ignore_older: 3h
- encoding: utf-8
  type: log
  fields:
    logzio_codec: plain
    token: "{{ logz_io_shared_token }}"
    type: nginx-access
  paths:
    - "/var/log/nginx/access.log"
  fields_under_root: true
  ignore_older: 3h
- encoding: utf-8
  type: log
  fields:
    logzio_codec: plain
    token: "{{ logz_io_shared_token }}"
    type: nginx-error
  paths:
    - "/var/log/nginx/error.log"
  fields_under_root: true
  ignore_older: 3h
{% endif %}
{% if 'stats' in group_names %}
- encoding: utf-8
  type: log
  fields:
    logzio_codec: plain
    token: "{{ logz_io_shared_token }}"
    type: lotus-stats
  paths:
    - "{{ stats_golog_file }}"
  fields_under_root: true
  json.keys_under_root: true
  json.message_key: msg
  ignore_older: 3h
{% endif %}

#For version 7 and higher
filebeat.registry.path: /var/lib/filebeat

#The following processors are to ensure compatibility with version 7
processors:
- rename:
    fields:
     - from: "agent"
       to: "beat_agent"
    ignore_missing: true
- rename:
    fields:
     - from: "log.file.path"
       to: "source"
    ignore_missing: true

- if:
    has_fields: ['ts']
  then:
    - timestamp:
        field: 'ts'
        layouts:
          - '2006-01-02T15:04:05.000Z0700'
        test:
          - '2019-10-10T22:37:48.297+0200'
    - drop_fields:
        fields: ['ts']
- if:
    has_fields: ['msg']
  then:
    - rename:
        fields:
          - from: 'msg'
            to: 'message'
{{ filebeat_additional_processors }}

############################# Output ##########################################

output:
  logstash:
    hosts: ["listener.logz.io:5015"]
    ssl:
      certificate_authorities: ['/etc/pki/tls/certs/COMODORSADomainValidationSecureServerCA.crt']
