[Unit]
Description=Lotus Seed 1
After=network.target

[Service]
User={{ lotus_seed_user }}
Group={{ lotus_seed_user }}
ExecStart=/usr/bin/numactl --cpunodebind=1 --membind=1 /usr/local/bin/lotus-seed --sectorbuilder-dir="{{ lotus_seed_path }}/1" pre-seal --sector-size="{{ lotus_seed_sector_size }}" --num-sectors="{{ lotus_seed_num_sectors }}" --miner-addr="{{ lotus_seed_miner_addr }}" --sector-offset="{{ lotus_seed_sector_offset_1 }}"
Environment=GOLOG_FILE="{{ lotus_seed_golog_file_1 }}"
Environment=GOLOG_LOG_FMT="{{ lotus_seed_golog_log_fmt }}"
{% for item in lotus_seed_env | dict2items -%}
Environment={{ item.key }}="{{ item.value }}"
{% endfor %}

[Install]
WantedBy=multi-user.target
