[Unit]
Description=Lotus Seed {{ item.index }}
After=network.target

[Service]
User={{ lotus_user }}
Group={{ lotus_user }}
ExecStart=/usr/bin/numactl --cpunodebind="{{ item.numanode }}" --membind="{{ item.numanode }}" /usr/local/bin/lotus-seed --sectorbuilder-dir="{{ item.path }}" pre-seal --sector-size="{{ lotus_seed_sector_size }}" --num-sectors="{{ lotus_seed_sector_count }}" --miner-addr="{{ lotus_seed_miner_addr }}" --sector-offset="{{ item.index * lotus_seed_sector_count + lotus_seed_sector_offset }}"
Environment=GOLOG_FILE="{{ item.log_file}}"
Environment=GOLOG_LOG_FMT="{{ lotus_seed_golog_log_fmt }}"
{% for item in lotus_seed_env | dict2items -%}
Environment={{ item.key }}="{{ item.value }}"
{% endfor %}

[Install]
WantedBy=multi-user.target
