[Unit]
Description=Lotus Seed
After=network.target

[Service]
User={{ lotus_seed_user }}
Group={{ lotus_seed_user }}
ExecStart=/usr/local/bin/lotus-seed --sectorbuilder-dir="{{ lotus_seed_path }}" pre-seal --sector-size="{{ lotus_seed_sector_size }}" --num-sectors="{{ lotus_seed_num_sectors }}" --miner-addr="{{ lotus_seed_miner_addr }}"
Environment=GOLOG_FILE="{{ lotus_seed_golog_file }}"
Environment=GOLOG_LOG_FMT="{{ lotus_seed_golog_log_fmt }}"
{% for item in lotus_seed_env | dict2items -%}
Environment={{ item.key }}="{{ item.value }}"
{% endfor %}

[Install]
WantedBy=multi-user.target
