server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/log/positions.yml

clients:
  - url: '{{ loki_server }}/loki/api/v1/push'
    basic_auth:
      username: '{{ loki_username }}'
      password: '{{ loki_password }}'

scrape_configs:
  - job_name: system
    static_configs:
      - targets:
          - localhost
        labels:
          job: 'lotus-infra'
          host: '{{ inventory_hostname }}'
          network: '{{ network_name }}'
          __path__: '/var/log/*.log'
    pipeline_stages:
      - regex:
          expression: '^/var/log/(?P<service_name>.+)\.log$'
          source: filename
      - labels:
          service_name:
