[Unit]
Description=Chainwatch
After=network.target
After=lotus-daemon.service
PartOf=lotus-daemon.service

[Service]
User={{ lotus_user }}
Group={{ lotus_user }}
ExecStart=/usr/local/bin/chainwatch run --max-batch="{{ chainwatch_batch_size }}"
Environment=LOTUS_PATH="{{ lotus_path }}"
Environment=LOTUS_DB="{{ chainwatch_db }}"
Environment=GOLOG_FILE="{{ chainwatch_golog_file }}"
Environment=GOLOG_LOG_FMT="{{ chainwatch_golog_log_fmt }}"
{% for item in chainwatch_env | dict2items -%}
Environment={{ item.key }}="{{ item.value }}"
{% endfor %}
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
