[Unit]
Description=Lotus Daemon
After=network.target

[Service]
User={{ lotus_user }}
Group={{ lotus_user }}
ExecStart=/usr/local/bin/lotus daemon --bootstrap="{{ lotus_daemon_bootstrap }}"
Environment=LOTUS_PATH="{{ lotus_path }}"
Environment=GOLOG_FILE="{{ lotus_golog_file }}"
Environment=GOLOG_LOG_FMT="{{ lotus_golog_log_fmt }}"
{% for item in lotus_env | dict2items -%}
Environment={{ item.key }}="{{ item.value }}"
{% endfor %}
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
