---
- hosts: preminer
  become: true
  vars:
    lotus_binary_src: "{{ binary_src }}/lotus"
    lotus_miner_binary_src: "{{ binary_src }}/lotus-miner"
    lotus_seed_binary_src: "{{ binary_src }}/lotus-seed"
    lotus_shed_binary_src: "{{ binary_src }}/lotus-shed"
  module_defaults:
    package:
      force_apt_get: yes
  tasks:
    - include_role: name=lotus_fullnode
    - include_role: name=lotus_miner

- hosts: bootstrap
  become: true
  vars:
    lotus_binary_src: "{{ binary_src }}/lotus"
    lotus_shed_binary_src: "{{ binary_src }}/lotus-shed"
  module_defaults:
    package:
      force_apt_get: yes
  tasks:
    - include_role: name=lotus_fullnode

- hosts: toolbox
  become: true
  vars:
    lotus_binary_src: "{{ binary_src }}/lotus"
    lotus_shed_binary_src: "{{ binary_src }}/lotus-shed"
    lotus_fountain_binary_src: "{{ binary_src }}/lotus-fountain"
    stats_binary_src: "{{ binary_src }}/lotus-stats"
  module_defaults:
    package:
      force_apt_get: yes
  tasks:
    - include_role: name=lotus_fullnode
    - include_role: name=lotus_fountain
      when: "'faucet' in group_names"
    - include_role: name=stats
      when: "'stats' in group_names"

- hosts: scratch
  become: true
  vars:
    lotus_binary_src: "{{ binary_src }}/lotus"
    lotus_shed_binary_src: "{{ binary_src }}/lotus-shed"
  module_defaults:
    package:
      force_apt_get: yes
  tasks:
    - include_role: name=lotus_fullnode
