[Libp2p]
   ListenAddresses = ["/ip4/0.0.0.0/tcp/{{ lotus_miner_p2p_port }}"]

[IndexProvider]
   Enable = false
{% if lotus_miner_presealed == "yes" %}
[Dealmaking]
   ConsiderOnlineStorageDeals = false
   ConsiderOfflineStorageDeals = false
   ConsiderOnlineRetrievalDeals = false
   ConsiderOfflineRetrievalDeals = false

[IndexProvider]
   Enabled = false
{% endif %}

{% if lotus_miner_pubsub_tracker is defined %}
[PubSub]
RemoteTracer = "{{ lotus_miner_pubsub_tracker }}"
{% endif %}
