#!/usr/bin/env bash

# This script sets up an initial configuraiton for the lotus daemon and miner
# It will only run once.

GATE="$LOTUS_MINER_PATH"/date_initialized

# Don't init if already initialized.
if [ -f "$GATE" ]; then
        echo lotus already initialized.
        exit 0
fi

/usr/local/bin/lotus-miner init --genesis-miner="{{ lotus_miner_genesis_miner | lower }}" --actor="{{ lotus_miner_addr }}" --pre-sealed-metadata="{{ lotus_miner_presealed_metadata }}" --nosync="true" --sector-size="{{ lotus_miner_sector_size }}" {{ lotus_miner_presealed_sectors | product(['--pre-sealed-sectors']) | map('reverse') | map('join', '=') | list | join(' ') }} && date > "$GATE"
