- include_tasks: ../../../includes/required_vars.yml
- include_tasks: ../../../includes/lotus_general_runtime_deps.yml

- name: Reset system
  block:
    - name: Ensure lotus stopped
      service:
        name: lotus-daemon
        state: stopped
      ignore_errors: yes
    - name: Remove lotus repository
      file:
        path: "{{ lotus_path }}"
        state: absent
    - name: Truncate log file
      shell:
        cmd: truncate -s 0 "{{ lotus_golog_file }}"
  when: lotus_reset == "yes"

- name: Copy binary
  copy:
    src: "{{ lotus_binary_src }}"
    dest: /usr/local/bin/lotus
    owner: root
    group: root
    mode: "0755"
  when: lotus_binary_src is defined

- name: Ensure lotus repository exists
  file:
    path: "{{ lotus_path }}"
    state: directory
    owner: "{{ lotus_user }}"
    group: "{{ lotus_user }}"
    mode: "0755"

- name: Ensure LOTUS_PATH global env is set
  lineinfile:
    path: /etc/environment
    regex: "^LOTUS_PATH"
    line: LOTUS_PATH="{{ lotus_path }}"

- name: Ensure IPFS_GATEWAY global env is set
  lineinfile:
    path: /etc/environment
    regex: "^IPFS_GATEWAY"
    line: IPFS_GATEWAY="{{ lotus_ipfs_gateway }}"
  when: lotus_ipfs_gateway is defined

- name: Ensure proof parameters directory exists
  file:
    path: "{{ lotus_proof_params_path }}"
    state: directory
    owner: "{{ lotus_user }}"
    group: "{{ lotus_user }}"
    mode: "0754"

- name: Ensure log file exists
  file:
    state: touch
    path: "{{ lotus_golog_file }}"
    owner: "{{ lotus_user }}"
    group: "{{ lotus_user }}"
    mode: "0644"

- name: Ensure service file
  template:
    src: ../templates/lotus-daemon.service.j2
    dest: /etc/systemd/system/lotus-daemon.service
    owner: root
    group: root
    mode: "0644"
  notify:
    - systemd-daemon-reload

- name: Ensure lotus configuration
  template:
    src: ../templates/config.toml.j2
    dest: "{{ lotus_path }}/config.toml"
    owner: "{{ lotus_user }}"
    group: "{{ lotus_user }}"
    mode: "0644"

- name:
  include_tasks: import_peerkey.yml
  when: lotus_import_peerkey | bool

- name:
  include_tasks: import_wallet.yml
  when: lotus_import_wallet | bool

- name: Ensure lotus service enabled
  service:
    name: "lotus-daemon"
    enabled: yes

- name:
  include_tasks: drand_bootstrap.yml
  when: lotus_drand_bootstrap | bool

- name: Ensure ufw application rules
  template:
    src: ../templates/ufw.profile.j2
    dest: /etc/ufw/applications.d/lotus-daemon
    owner: root
    group: root
    mode: 0644

- name: Ensure ufw allow
  ufw:
    rule: allow
    name: "Lotus Daemon"


