- include_tasks: ../../../includes/required_vars.yml
- include_tasks: ../../../includes/lotus_general_runtime_deps.yml

- name: Copy binary
  copy:
    src: "{{ lotus_binary_src }}"
    dest: /usr/local/bin/lotus
    owner: root
    group: root
    mode: "0755"
  when: lotus_binary_src is defined

- name: Reset system
  block:
    - name: Ensure lotus stopped
      service:
        name: lotus-daemon
        state: stopped
    - name: Remove lotus repository
      file:
        path: "{{ lotus_path }}"
        state: absent
    - name: Truncate log file
      shell:
        cmd: truncate -s 0 "{{ lotus_golog_file }}"
  when: lotus_reset == "yes"

- name: Ensure lotus repository exists
  file:
    path: "{{ lotus_path }}"
    state: directory
    owner: "{{ lotus_user }}"
    group: "{{ lotus_user }}"
    mode: "0700"

- name: Ensure LOTUS_PATH global env is set
  lineinfile:
    path: /etc/environment
    regex: "^LOTUS_PATH"
    line: LOTUS_PATH="{{ lotus_path }}"

- name: Ensure IPFS_GATEWAY global env is set
  lineinfile:
    path: /etc/environment
    regex: "^IPFS_GATEWAY"
    line: IPFS_GATEWAY="{{ lotus_ipfs_gateway }}"
  when: lotus_ipfs_gateway is defined

- name: Ensure proof parameters directory exists
  file:
    path: "{{ lotus_proof_params_path }}"
    state: directory
    owner: "{{ lotus_user }}"
    group: "{{ lotus_user }}"
    mode: "0700"

- name: Ensure log file exists
  file:
    state: touch
    path: "{{ lotus_golog_file }}"
    owner: "{{ lotus_user }}"
    group: "{{ lotus_user }}"
    mode: "0644"

- name: Ensure service file
  template:
    src: ../templates/lotus-daemon.service.j2
    dest: /etc/systemd/system/lotus-daemon.service
    owner: root
    group: root
    mode: "0644"
  notify:
    - reload-lotus

- name: Ensure lotus configuration
  template:
    src: ../templates/config.toml.j2
    dest: "{{ lotus_path }}/config.toml"
    owner: "{{ lotus_user }}"
    group: "{{ lotus_user }}"
    mode: "0644"

- name:
  include_tasks: import_peerkey.yml
  when: lotus_import_peerkey | bool

- name:
  include_tasks: import_wallet.yml
  when: lotus_import_wallet | bool

- name: Ensure lotus service enabled and in correct state ({{ lotus_systemd_state}})
  service:
    name: "lotus-daemon"
    enabled: yes
    state: "{{ lotus_service_state }}"

- set_fact:
    lotus_fullnode_ufw_profile:
      name: Lotus Daemon
      value: "{{ lookup('template', '../templates/ufw.profile.j2')}}"

- set_fact:
    lotus_fullnode_filebeat_input:
      paths:
        - "{{ lotus_golog_file }}"
      fields:
        type: "lotus-daemon"

